* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    --clr-lightGreen: #2F2F2F;
    --clr-darkGreen: #2C7865;
    --clr-green: #90D26D;
    --clr-orange: #FF9800;
}

body {
    height: 100vh;
    
    background-color: var(--clr-darkGreen);
    
    display: flex;
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}