* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    --clr-lightGreen: #2F2F2F;
    --clr-darkGreen: #2C7865;
    --clr-green: #90D26D;
    --clr-orange: #FF9800;
}

body {
    height: 100vh;
    
    background-color: var(--clr-darkGreen);
    
    display: flex;
}

.settings-section {
    flex: 1;
    z-index: 5;
    
    height: 100%;
    background-color: var(--clr-lightGreen);
    box-shadow: 2px 2px 2px 2px black;
    
    display: flex;
    flex-direction: column;
}

.title {
    flex: 2;
    
    border-bottom: 3px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p {
    font-size: 2rem;
    color: var(--clr-orange);
}

.options {
    flex: 6;
    
    /* background-color: grey; */
    border-bottom: 3px solid black;
    
    display: flex;
    flex-direction: column;
}

.options button {
    padding-left: 1rem;
    
    width: 100%;
    height: 3rem;
    background-color: var(--clr-lightGreen);
    color: var(--clr-green);
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .3s;
}

.options button:hover {
    background-color: black;
}

.options button p {
    margin-right: auto;
}

.options button svg {
    padding: 1rem;
    margin-left: auto;
}

#theme-toggler {
    margin-top: auto;
    
    border-top: 2px solid black;
}

.follow-tab {
    flex: 2;
    padding: 3px;
    
    display: flex;
    flex-direction: column;
}

.follow-text {
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-text p {
    margin-top: 5px;
    color: var(--clr-green);
}

.follow-links {
    flex: 3;
    
    display: flex;
}

.follow-links a {
    flex: 1;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    transition: .3s;
}

.follow-links a:hover {
    transform: scale(1.1);
}

.follow-links a svg {
    padding: 1rem;
}

.follow-links a p {
    color: red;
    text-decoration: underline;
}

.chat-section {
    flex: 2;
    position: relative;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.chat {
    flex: 10;
    padding: 1rem;
    
    width: 100%;
    overflow: auto;
    background-color: var(--clr-orange);
    border-radius: 0 0 1rem 0;
    
    display: flex;
    flex-direction: column;
}

.message {
    margin: 3px;
    padding: 1rem;
    
    width: auto;
    max-width: 60%;
    height: auto;
    border: 3px solid black;
    
    animation-name: slideUp;
    animation-duration: 1s;
}

.right {
    margin-left: auto;
    background-color: var(--clr-green);
    border-radius: 2rem 0 2rem 2rem;
}

.left {
    margin-right: auto;
    background-color: var(--clr-darkGreen);
    border-radius: 0 2rem 2rem 2rem;
}

.prompt {
    flex: 1;
    position: relative;
    padding: 10px;
    
    width: 100%;
}

.prompt input {
    padding: 15px;
    
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--clr-green);
}

.prompt button {
    position: absolute;
    right: 0;
    padding: 10px;
    
    height: 3rem;
    aspect-ratio: 1;
    background-color: var(--clr-green);
    border-radius: 50%;
    border: none;
    
    transform: translateX(-10px);
}

.prompt button svg {
}

.history-section {
    flex: 1;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.history-section div {
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-section div button {
    width: 80%;
    height: 3rem;
    background-color: var(--clr-lightGreen);
    color: var(--clr-green);
    border: 3px solid black;
    border-radius: 1rem;
    
    transition: .2s;
    
    animation-name: slideUp;
    animation-duration: 2s;
}

.history-section div button:hover {
    transform: scale(0.95);
    background-color: black;
    color: white;
}

.chat-history {
    flex: 8;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chat-history p {
    margin-top: 10px;
    margin-bottom: 5px;
    
    opacity: 0;
    color: var(--clr-green);
    font-size: 2rem;
    
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.chat-history button {
    height: 3.5rem;
    width: 100%;
    background-color: var(--clr-darkGreen);
    border: none;
    border-bottom: 3px solid #1C3800;
    color: orange;
    
    display: flex;
    align-items: center;
    padding-left: 1rem;
    
    transition: .3s;
    
    animation-name: appear;
    animation-duration: 2s;
}

.chat-history button:hover {
    background-color: black;
    color: white;
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (orientation: portrait) {
    
.settings-section {
    flex: 0;
    width: 0;
}
    
}