* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    --clr-lightGreen: #2F2F2F;
    --clr-darkGreen: #2C7865;
    --clr-green: #90D26D;
    --clr-orange: #FF9800;
}

body {
    height: 100vh;
    background-color: var(--clr-darkGreen);
    
    display: flex;
}

body * :not(.popup) {
    opacity: 0;
    
    animation-name: appear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.intro-paragraph {
    font-size: .5rem;
    padding: 5px;
}

#cancel-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    
    width: 30%;
    height: 13%;
    background-color: black;
    color: white;
    border: none;
    opacity: 0.6;
    
    transition: .3s;
}

#cancel-button:hover {
    transform: scale(1.1);
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}